*{
  box-sizing: border-box;
  color: black;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}


#doc{
    display: none;
  }

/* --------------------------- */
/* HEADER                      */
/* --------------------------- */
.header--description, .header--company{
  display: inline-block;
}

.header--company{
  margin-left: 5%;
}

.header--overview{
  width: 50%;
  margin: 0 auto;
}

.header--description{
  margin-left: 10px;
}



/* --------------------------- */
/* CONTENT                     */
/* --------------------------- */
.content--container{
  display: flex;
  height: 90%;
  margin: 1rem;
}

.original--container, .results--container{
  flex-basis: 50%;
  text-align: center;
  padding: .5rem;
}

.results--body, .original--textarea{
  width: 100%;
  height: 50vh;
  padding: .5rem;
}

.original--textarea{
  resize: none;
}

.results--body{
  text-align: left;
  overflow-y: scroll;
}

.content--icon{
  align-self: center;
}

.btn--format{
  padding: 5px .8rem;
  cursor: pointer;
}

.original--label-uploaded, .original--label{
  margin-right: 10px;
}

.original--btns{
  margin-top: 15px;
}

/* --------------------------- */
/* DESCRIPTION                 */
/* --------------------------- */
.description--container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
