*{
  box-sizing: border-box;
  color: black;
}

body{
  /* max-width: 800px; */
  /* margin: 40px auto; */
  /* padding: 0 20px; */
  font: 18px/1.4 'Open Sans', sans-serif;
  color: #34568B;
  background-color: #dad6d3 !important;
}

#doc{
    display: none;
  }

.content--container{
  display: flex;
  height: 90%;
  margin: 1rem;
}

.original--container, .results--container{
  flex-basis: 50%;
  text-align: center;
  padding: 1rem;
}

.results--body, .original--textarea{
  width: 100%;
  height: 50vh;
  padding: 1rem;
}

.original--textarea{
  resize: none;
}

.results--body{
  text-align: left;
  overflow-y: scroll;
}

.content--icon{
  align-self: center;
}

.original--label-uploaded, .original--label{
  margin-right: 10px;
}

.original--btns{
  margin-top: 15px;
}

.btn.btn-dark{
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.description--container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results--body, .original--textarea{
  border: 1px solid #8d8d8d;
  background-color: #ffffff;
  overflow: hidden;
}

.profanity{
  background-color: rgba(255, 0, 0, 0.493);
}

.header--description{
  padding-top: 50px;
  text-align: center;
}

.header--overview{
  padding-top: 50px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/* --------------------------- */
.description--container h1{
  border-bottom: 5px solid rgb(19, 88, 216);
}
