.results--body{
  border: 2px solid #000000;
}

.profanity{
  background-color: rgba(255, 0, 0, 0.493);
}

/* --------------------------- */
/* HEADER                      */
/* --------------------------- */
.header--company{
  font-size: 4rem;
}

/* --------------------------- */
/* CONTENT                     */
/* --------------------------- */