<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/assets/INKclusive.svg" width="140" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">About</a>
            </div>
            </div>
        </div>
    </nav>

    <div class="header--container">
        <h2 class="header--description">About Us</h2>
        <p class="header--overview">As we progress as a society and learn more about what is and is not acceptable, it is imperative that our language be able to adapt to certain expectations set by communities that are traditionally underrepresented and/or oppressed.</p>
        <p class="header--overview">The focus of this application is to provide a simple tool for screening documents for racist langauge. The particular focus is not in slurs or expletives but rather words and phrases that have deeply rooted racists pasts, often unknown to modern day users.</p>
    </div>
  
</body>
</html>
